[package]
authors = ["Parallel Team", "Liebi Technologies <bifrost@liebi.com>"]
edition = "2021"
name = "lend-market"
version = "0.8.0"

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
log = "0.4.20"
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = [
	"derive",
] }
frame-benchmarking = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.1.0", default-features = false, optional = true }
frame-support = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.1.0", default-features = false }
frame-system = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.1.0", default-features = false }
num-traits = { version = '0.2.15', default-features = false }
orml-traits = { version = "0.4.1-dev", default-features = false }
pallet-assets = { git = 'https://github.com/paritytech/polkadot-sdk.git', branch = 'release-polkadot-v1.1.0', default-features = false }
pallet-balances = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.1.0", default-features = false }
pallet-prices = { path = "../prices", default-features = false }
node-primitives = { package = "node-primitives", path = "../../node/primitives", default-features = false }
pallet-timestamp = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.1.0", default-features = false }
pallet-traits = { path = "../traits", default-features = false }
scale-info = { version = "2.9.0", default-features = false, features = [
	"derive",
] }
serde = { version = "1.0.160", features = ['derive'], optional = true }
sp-io = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.1.0", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.1.0", default-features = false }
sp-std = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.1.0", default-features = false }
xcm-builder = { package = "staging-xcm-builder", git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.1.0", default-features = false}

[dev-dependencies]
orml-oracle = "0.4.1-dev"
orml-tokens = "0.4.1-dev"
sp-core = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.1.0", default-features = false }
bifrost-asset-registry = { path = "../asset-registry", default-features = false }
bifrost-currencies = { path = "../currencies", default-features = false }

[features]
default = ['std']
runtime-benchmarks = [
	"frame-benchmarking/runtime-benchmarks",
    "xcm-builder/runtime-benchmarks",
]
std = [
	'codec/std',
	'frame-support/std',
	'frame-system/std',
	'frame-benchmarking/std',
	'orml-traits/std',
	'node-primitives/std',
	'sp-runtime/std',
	'sp-std/std',
	'sp-io/std',
	'pallet-assets/std',
	'pallet-prices/std',
	'pallet-balances/std',
	'pallet-timestamp/std',
	'serde',
	'scale-info/std',
	'num-traits/std',
	'pallet-traits/std',
	"bifrost-asset-registry/std",
	"xcm-builder/std",
]
try-runtime = ['frame-support/try-runtime']

[lib]
doctest = false
