**/target/
**/*.rs.bk
*.swp
.wasm-binaries
**/._*
.idea
.vscode
.DS_Store
.cargo-remote.toml
.gitignore
node_modules
yarn.lock
*.log
output
deploy
snapshot.bin
*.wasm
data
runtime/bifrost
parachain-staking
xcm-interface
