[workspace]
members = [
	"bin/node/cli",
	"bin/node/inspect",
	"bin/node/primitives",
	"bin/node/runtime",
	"bin/utils/chain-spec-builder",
	"bin/utils/subkey",
	"brml/assets",
	"brml/assets/rpc",
	"brml/bridge-eos",
	"brml/chainlink",
	"brml/exchange",
	"brml/exchange/rpc",
	"brml/oracle",
	"brml/swap",
	"brml/voucher",
]

[profile.release]
panic = "unwind"
