[workspace]
members = [
	"bin/node/cli",
	"bin/node/inspect",
	"bin/node/primitives",
	"bin/node/runtime",
	"bin/utils/subkey",
	"brml/assets",
	"brml/assets/rpc",
	"brml/bridge-eos",
#	"brml/bridge-iost",
	"brml/chainlink",
	"brml/convert",
	"brml/convert/rpc",
	"brml/oracle",
	"brml/proxy-validator",
	"brml/swap",
	"brml/voucher",
]

[profile.release]
panic = "unwind"
