[package]
name = "node-service"
version = "0.7.0"
authors = ["Edwin Wang <lark930@gmail.com>"]
edition = "2018"

[dependencies]
# Substrate Client
sc-authority-discovery = { version = "0.9.0" }
sc-basic-authorship = { version = "0.9.0" }
sc-consensus-babe = { version = "0.9.0" }
sc-finality-grandpa = { version = "0.9.0" }
sc-block-builder = { version = "0.9.0" }
sc-chain-spec = { version = "3.0.0" }
sc-cli = { version = "0.9.0" }
sc-client-api = { version = "3.0.0" }
sc-client-db = { version = "0.9.0" }
sc-consensus = { version = "0.9.0" }
sc-consensus-slots = { version = "0.9.0" }
sc-executor = { version = "0.9.0" }
sc-network = { version = "0.9.0" }
sc-transaction-pool = { version = "3.0.0" }
sc-tracing = { version = "3.0.0" }
sc-service = { version = "0.9.0", default-features = false }
telemetry = { package = "sc-telemetry", version = "3.0.0" }

# Substrate Primitives
sp-authority-discovery = { version = "3.0.0" }
babe-primitives = { package = "sp-consensus-babe", version = "0.9.0" }
sp-consensus = { version = "0.9.0" }
grandpa_primitives = { package = "sp-finality-grandpa", version = "3.0.0" }
sp-inherents = { version = "3.0.0" }
sp-api = { version = "3.0.0" }
sp-block-builder = { version = "3.0.0" }
sp-blockchain = { version = "3.0.0" }
sp-core = { version = "3.0.0" }
sp-io = { version = "3.0.0" }
sp-keystore = { version = "0.9.0" }
sp-offchain = { package = "sp-offchain", version = "3.0.0" }
sc-rpc = { version = "3.0.0" }
sp-runtime = { version = "3.0.0" }
sp-session = { version = "3.0.0" }
sp-storage = { version = "3.0.0" }
sp-timestamp = { version = "3.0.0" }
sp-transaction-pool = { version = "3.0.0" }
sp-trie = { version = "3.0.0" }

# Substrate Pallets
pallet-babe = { version = "3.0.0" }
pallet-transaction-payment-rpc-runtime-api = { version = "3.0.0" }

# Substrate Other
frame-benchmarking = { version = "3.0.0" }
frame-system-rpc-runtime-api = { version = "3.0.0" }
prometheus-endpoint = { package = "substrate-prometheus-endpoint", version = "0.9.0" }

# Cumulus dependencies
cumulus-client-consensus-relay-chain = { git = "https://github.com/paritytech/cumulus", branch = "rococo-v1" }
cumulus-client-collator = { git = "https://github.com/paritytech/cumulus", branch = "rococo-v1" }
cumulus-client-network = { git = "https://github.com/paritytech/cumulus", branch = "rococo-v1" }
cumulus-primitives-core = { git = "https://github.com/paritytech/cumulus", branch = "rococo-v1" }
cumulus-client-service = { git = "https://github.com/paritytech/cumulus", branch = "rococo-v1" }

# Polkadot dependencies
polkadot-primitives = { git = "https://github.com/paritytech/polkadot", branch = "rococo-v1" }
polkadot-service = { git = "https://github.com/paritytech/polkadot", branch = "rococo-v1" }

# External Crates
codec = { package = "parity-scale-codec", version = "1.3.6" }
futures = "0.3.9"
hex-literal = "0.2.1"
lazy_static = "1.4.0"
log = "0.4.8"
parking_lot = "0.11.1"
serde = { version = "1.0.118", features = ["derive"] }
slog = "2.5.2"
bs58 = { version = "0.3.0", default-features = false, features = ["alloc"] }
serde_json = "1.0.60"

# Runtimes
asgard-runtime = { path = "../runtime/asgard" }
bifrost-runtime = { path = "../runtime/bifrost" }
rococo-runtime = { path = "../runtime/rococo" }
node-primitives = { path = "../primitives" }
node-rpc = { path = "../rpc" }

# RPC related dependencies
jsonrpc-core = "15.1.0"

# zenlink rpc
zenlink-protocol-rpc = { path = "../../../../Zenlink-DEX-Module/zenlink-protocol/rpc" }

[dev-dependencies]
env_logger = "0.8.1"

[features]
default = []
runtime-benchmarks = [
#	"asgard-runtime/runtime-benchmarks",
	"bifrost-runtime/runtime-benchmarks",
]
