[package]
name = "bifrost-minter-reward"
version = "0.8.0"
authors = ["Dengjianping <djptux@gmail.com>"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive"] }
node-primitives = { path = "../../node/primitives", default-features = false }
fixed = { version = "1.5.0", default-features = false }
frame-support = { version = "3.0.0", default-features = false }
frame-system = { version = "3.0.0", default-features = false }
orml-traits = { version = "0.4.1-dev", default-features = false }
sp-runtime = { version = "3.0.0", default-features = false }
zenlink-protocol = { version = "*", default-features = false }
frame-benchmarking = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.8", default-features = false, optional = true }

[dev-dependencies]
orml-tokens = "0.4.1-dev"
orml-currencies = { version = "0.4.1-dev" }
pallet-balances = { version = "3.0.0" }
sp-io = { version = "3.0.0" }
sp-core = { version = "3.0.0" }
bifrost-vtoken-mint = { path = "../vtoken-mint", default-features = false }

[features]
default = ["std"]
std = [
	"codec/std",
	"node-primitives/std",
	"fixed/std",
	"frame-support/std",
	"frame-system/std",
	"orml-traits/std",
	"sp-runtime/std",
	"zenlink-protocol/std"
]

runtime-benchmarks = [
	"frame-benchmarking",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
]