[package]
name = "bifrost-service"
version = "0.8.0"
authors = ["Liebi Technologies <bifrost@liebi.com>"]
edition = "2021"

[dependencies]
# Substrate Client
async-trait = { workspace = true }
sc-basic-authorship = { workspace = true }
sc-chain-spec = { workspace = true }
sc-client-api = { workspace = true }
sc-executor = { workspace = true }
sc-network = { workspace = true }
sc-network-common = { workspace = true }
sc-network-sync = { workspace = true }
sc-telemetry = { workspace = true }
sc-transaction-pool = { workspace = true }
sc-transaction-pool-api = { workspace = true }
sc-tracing = { workspace = true }
sc-service = { workspace = true }
sc-sysinfo = { workspace = true }
sc-consensus = { workspace = true }
sc-consensus-manual-seal = { workspace = true }
sc-consensus-aura = { workspace = true }
sc-consensus-slots = { workspace = true }
sc-rpc-api = { workspace = true }
sc-rpc = { workspace = true }
sc-keystore = { workspace = true }

# Benchmarking
frame-benchmarking = { workspace = true, features = [ "std" ] }
frame-benchmarking-cli = { workspace = true }

# Substrate Primitives
sp-consensus-aura = { workspace = true }
sp-consensus = { workspace = true }
sc-consensus-grandpa = { workspace = true }
sp-inherents = { workspace = true }
sp-api = { workspace = true }
sp-block-builder = { workspace = true }
sp-blockchain = { workspace = true }
sp-core = { workspace = true }
sp-keystore = { workspace = true }
sp-io = { workspace = true }
sp-offchain = { workspace = true }
sp-runtime = { workspace = true }
sp-session = { workspace = true }
sp-storage = { workspace = true }
sc-offchain = { workspace = true }
sp-trie = { workspace = true }
sp-timestamp = { workspace = true }
sp-transaction-pool = { workspace = true }
# Substrate Pallets
pallet-transaction-payment-rpc = { workspace = true }

# Substrate Other
frame-system-rpc-runtime-api = { workspace = true }
substrate-prometheus-endpoint = { workspace = true }
substrate-frame-rpc-system = { workspace = true }
pallet-transaction-payment-rpc-runtime-api = { workspace = true }

# Cumulus dependencies
cumulus-client-cli = { workspace = true }
cumulus-client-collator = { workspace = true }
cumulus-client-consensus-aura = { workspace = true }
cumulus-client-consensus-common = { workspace = true }
cumulus-client-consensus-proposer = { workspace = true }
cumulus-client-network = { workspace = true }
cumulus-primitives-core = { workspace = true }
cumulus-client-service = { workspace = true }
cumulus-client-parachain-inherent = { workspace = true }
cumulus-primitives-parachain-inherent = { workspace = true }
cumulus-relay-chain-interface = { workspace = true }
cumulus-test-relay-sproof-builder = { workspace = true }

# Polkadot dependencies
polkadot-cli = { workspace = true }
polkadot-primitives = { workspace = true }
polkadot-service = { workspace = true }
xcm = { workspace = true }

bifrost-parachain-staking = { workspace = true }

# External Crates
clap = { workspace = true, features = ["derive"] }
hex-literal = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
log = { workspace = true }
flume = { workspace = true }
futures = { workspace = true, features = ["compat"] }

# Runtimes
bifrost-runtime-common = { workspace = true }
bifrost-kusama-runtime = { workspace = true, optional = true }
bifrost-polkadot-runtime = { workspace = true, optional = true }
bifrost-primitives = { workspace = true }
bifrost-rpc = { workspace = true }

# RPC related dependencies
jsonrpsee = { workspace = true, features = ["macros", "server"] }

# zenlink rpc
zenlink-protocol = { workspace = true }
zenlink-protocol-runtime-api = { workspace = true }
zenlink-stable-amm-runtime-api = { workspace = true }

# Frontier
fc-consensus = { workspace = true }
fc-db = { workspace = true, features = ["default", "sql"] }
fc-mapping-sync = { workspace = true, features = ["sql"] }
fc-rpc = { workspace = true, features = ["txpool"] }
fc-rpc-core = { workspace = true }
fc-storage = { workspace = true }
fp-storage = { workspace = true }
fp-consensus = { workspace = true }
fp-account = { workspace = true }
fp-dynamic-fee = { workspace = true, features = ["default"] }
fp-evm = { workspace = true, features = ["default"] }
fp-rpc = { workspace = true, features = ["default"] }

# Bifrost rpc
bifrost-flexible-fee-rpc-runtime-api = { workspace = true }
bifrost-salp-rpc-runtime-api = { workspace = true }
bifrost-farming-rpc-runtime-api = { workspace = true }
bb-bnc-rpc-runtime-api = { workspace = true }

[features]
default = [ "std" ]
std = []
runtime-benchmarks = [
	"bifrost-kusama-runtime/runtime-benchmarks",
	"bifrost-polkadot-runtime/runtime-benchmarks",
	"polkadot-service/runtime-benchmarks",
	"polkadot-cli/runtime-benchmarks",
]
with-bifrost-runtime = [
	"with-bifrost-kusama-runtime",
	"with-bifrost-polkadot-runtime",
]
with-bifrost-kusama-runtime = [
	"bifrost-kusama-runtime",
]
with-bifrost-polkadot-runtime = [
	"bifrost-polkadot-runtime",
]
with-all-runtime = [
	"with-bifrost-runtime",
]
try-runtime = [
	"bifrost-kusama-runtime/try-runtime",
	"bifrost-polkadot-runtime/try-runtime",
]
fast-runtime = [
	"bifrost-kusama-runtime/fast-runtime",
	"bifrost-polkadot-runtime/fast-runtime",
]