[package]
name = "node-service"
version = "0.8.0"
authors = ["Edwin Wang <lark930@gmail.com>"]
edition = "2021"

[dependencies]
# Substrate Client
sc-basic-authorship = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sc-chain-spec = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sc-client-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sc-executor = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sc-network = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sc-telemetry = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sc-transaction-pool = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sc-tracing = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sc-service = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15", default-features = false }
sc-consensus = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sc-consensus-manual-seal = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sc-consensus-aura = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sc-finality-grandpa = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sc-consensus-slots = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15"}
sc-rpc-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15"}
sc-rpc = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sc-keystore = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
frame-benchmarking = {  git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15", default-features = false }

# Substrate Primitives
sp-consensus-aura = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sp-consensus = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sp-finality-grandpa = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sp-inherents = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sp-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sp-block-builder = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sp-blockchain = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sp-keystore = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sp-offchain = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sp-session = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sp-storage = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sp-trie = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sp-timestamp = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }

# Substrate Pallets
pallet-transaction-payment-rpc = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }

# Substrate Other
frame-system-rpc-runtime-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
substrate-prometheus-endpoint = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
substrate-frame-rpc-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }
try-runtime-cli = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15", optional = true }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.15" }

# Cumulus dependencies
cumulus-client-consensus-aura = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.15" }
cumulus-client-consensus-common = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.15" }
cumulus-client-network = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.15" }
cumulus-primitives-core = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.15" }
cumulus-client-service = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.15" }
cumulus-primitives-parachain-inherent = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.15" }

# Polkadot dependencies
polkadot-service = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.15" }

# External Crates
hex-literal = "0.3.1"
serde = { version = "1.0.124", features = ["derive"] }
bs58 = { version = "0.3.0", default-features = false, features = ["alloc"] }
serde_json = "1.0.60"
futures = { version = "0.3.15", features = ["compat"] }
async-io = "1.3"
async-trait = { version = "0.1.48" }
log = '0.4'

# Runtimes
bifrost-runtime-common = { path = "../../runtime/common"}
asgard-runtime = { path = "../../runtime/asgard", optional = true }
bifrost-kusama-runtime = { path = "../../runtime/bifrost-kusama", optional = true }
bifrost-polkadot-runtime = { path = "../../runtime/bifrost-polkadot", optional = true }
node-primitives = { path = "../primitives" }
node-rpc = { path = "../rpc" }

# RPC related dependencies
jsonrpc-core = "18.0.0"

# zenlink rpc
zenlink-protocol-runtime-api = "*"

# Bifrost rpc
bifrost-flexible-fee-rpc-runtime-api = { path = "../../pallets/flexible-fee/rpc/runtime-api" }
bifrost-salp-rpc-runtime-api = { path = "../../pallets/salp/rpc/runtime-api" }
bifrost-liquidity-mining-rpc-runtime-api = { path = "../../pallets/liquidity-mining/rpc/runtime-api" }

[features]
default = [ "std" ]
std = []
runtime-benchmarks = [
	"asgard-runtime/runtime-benchmarks",
	"bifrost-kusama-runtime/runtime-benchmarks",
	"bifrost-polkadot-runtime/runtime-benchmarks",
]
with-asgard-runtime = [
	"asgard-runtime",
]
with-bifrost-runtime = [
	"with-bifrost-kusama-runtime",
	"with-bifrost-polkadot-runtime",
]
with-bifrost-kusama-runtime = [
	"bifrost-kusama-runtime",
]
with-bifrost-polkadot-runtime = [
	"bifrost-polkadot-runtime",
]
with-all-runtime = [
	"with-asgard-runtime",
	"with-bifrost-runtime",
]
try-runtime = [
	"asgard-runtime/try-runtime",
	"bifrost-kusama-runtime/try-runtime",
	"bifrost-polkadot-runtime/try-runtime",
]

