[package]
name = "node-service"
version = "0.8.0"
authors = ["Edwin Wang <lark930@gmail.com>"]
edition = "2018"

[dependencies]
# Substrate Client
sc-basic-authorship = { version = "0.9.0" }
sc-chain-spec = { version = "3.0.0" }
sc-client-api = { version = "3.0.0" }
sc-executor = { version = "0.9.0" }
sc-network = { version = "0.9.0" }
sc-telemetry = { version = "3.0.0" }
sc-transaction-pool = { version = "3.0.0" }
sc-tracing = { version = "3.0.0" }
sc-service = { version = "0.9.0", default-features = false }
sc-consensus = { version = "0.9.0" }
sc-consensus-manual-seal = { version = "0.9.0",default-features = false }
sc-consensus-aura = { version = "0.9.0",default-features = false }
sc-finality-grandpa = { version = "0.9.0",default-features = false }
sc-consensus-slots = { version = "0.9.0",default-features = false}
sc-rpc-api = { version = "0.9.0"}
sc-rpc = { version = "3.0.0" }
sc-keystore = { version = "3.0.0" }
frame-benchmarking = {  version = "3.0.0", default-features = false }

# Substrate Primitives
sp-consensus-aura = { version = "0.9.0",default-features = false }
sp-consensus = { version = "0.9.0",default-features = false }
sp-finality-grandpa = { version = "3.0.0",default-features = false }
sp-inherents = { version = "3.0.0" }
sp-api = { version = "3.0.0" }
sp-block-builder = { version = "3.0.0" }
sp-blockchain = { version = "3.0.0" }
sp-core = { version = "3.0.0" }
sp-keystore = { version = "0.9.0" }
sp-offchain = { package = "sp-offchain", version = "3.0.0" }
sp-runtime = { version = "3.0.0" }
sp-session = { version = "3.0.0" }
sp-storage = { version = "3.0.0" }
sp-trie = { version = "3.0.0" }
sp-timestamp = { version = "3.0.0" }
sp-transaction-pool = { version = "3.0.0" }

# Substrate Pallets
pallet-transaction-payment-rpc-runtime-api = { version = "3.0.0" }

# Substrate Other
frame-system-rpc-runtime-api = { version = "3.0.0" }
substrate-prometheus-endpoint = { version = "0.9.0" }
substrate-frame-rpc-system = { version = "3.0.0" }

# Cumulus dependencies
cumulus-client-consensus-aura = { git = "https://github.com/yrong/cumulus", branch = "polkadot-v0.9.8-without-compact-proof" }
cumulus-client-consensus-common = { git = "https://github.com/yrong/cumulus", branch = "polkadot-v0.9.8-without-compact-proof" }
cumulus-client-network = { git = "https://github.com/yrong/cumulus", branch = "polkadot-v0.9.8-without-compact-proof" }
cumulus-primitives-core = { git = "https://github.com/yrong/cumulus", branch = "polkadot-v0.9.8-without-compact-proof" }
cumulus-client-service = { git = "https://github.com/yrong/cumulus", branch = "polkadot-v0.9.8-without-compact-proof" }
cumulus-primitives-parachain-inherent = { git = "https://github.com/yrong/cumulus", branch = "polkadot-v0.9.8-without-compact-proof" }

# Polkadot dependencies
polkadot-service = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.8" }

# External Crates
hex-literal = "0.2.1"
serde = { version = "1.0.124", features = ["derive"] }
bs58 = { version = "0.3.0", default-features = false, features = ["alloc"] }
serde_json = "1.0.60"
futures = { version = "0.3.15", features = ["compat"] }
async-io = "1.3"
async-trait = { version = "0.1.48" }
log = '0.4'

# Runtimes
asgard-runtime = { path = "../../runtime/asgard", optional = true }
bifrost-runtime = { path = "../../runtime/bifrost", optional = true }
dev-runtime = { path = "../../runtime/dev", optional = true }
node-primitives = { path = "../primitives" }
node-rpc = { path = "../rpc" }

# RPC related dependencies
jsonrpc-core = "15.1.0"

# zenlink rpc
zenlink-protocol-runtime-api = "*"

# Bifrost rpc
bifrost-flexible-fee-rpc-runtime-api = { path = "../../pallets/flexible-fee/rpc/runtime-api" }

[features]
default = [ "std" ]
std = []
runtime-benchmarks = [
	"asgard-runtime/runtime-benchmarks",
	"bifrost-runtime/runtime-benchmarks",
]
with-asgard-runtime = [
	"asgard-runtime",
]
with-bifrost-runtime = [
	"bifrost-runtime",
]
with-dev-runtime = [
	"dev-runtime",
]
with-all-runtime = [
	"with-asgard-runtime",
	"with-bifrost-runtime",
]

