[package]
name = "node-cli"
version = "0.1.0"
authors = ["Edwin Wang <lark930@gmail.com>"]
build = "build.rs"
edition = "2018"

[[bin]]
name = "bifrost-node"
path = "bin/main.rs"
required-features = ["cli"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
# third-party dependencies
codec = { package = "parity-scale-codec", version = "1.0.6" }
serde = { version = "1.0.102", features = ["derive"] }
futures = { version = "0.3.1", features = ["compat"] }
hex-literal = "0.2.1"
jsonrpc-core = "14.0.3"
log = "0.4.8"
rand = "0.7.2"
structopt = "=0.3.7"

# primitives
sp-authority-discovery = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
sp-consensus-babe = { version = "0.8", git = "https://github.com/paritytech/substrate" }
grandpa-primitives = { version = "2.0.0", package = "sp-finality-grandpa", git = "https://github.com/paritytech/substrate" }
sp-core = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
sp-runtime = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
sp-timestamp = { version = "2.0.0", default-features = false, git = "https://github.com/paritytech/substrate" }
sp-finality-tracker = { version = "2.0.0", default-features = false, git = "https://github.com/paritytech/substrate" }
sp-inherents = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
sp-keyring = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
sp-io = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
sp-consensus = { version = "0.8", git = "https://github.com/paritytech/substrate" }

# client dependencies
sc-client-api = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
sc-client = { version = "0.8", git = "https://github.com/paritytech/substrate" }
sc-chain-spec = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
sc-transaction-pool = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
sp-transaction-pool = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
sc-network = { version = "0.8", git = "https://github.com/paritytech/substrate" }
sc-consensus-babe = { version = "0.8", git = "https://github.com/paritytech/substrate" }
grandpa = { version = "0.8", package = "sc-finality-grandpa", git = "https://github.com/paritytech/substrate" }
sc-client-db = { version = "0.8", default-features = false, git = "https://github.com/paritytech/substrate" }
sc-offchain = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
sc-rpc = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
sc-basic-authorship = { version = "0.8", git = "https://github.com/paritytech/substrate" }
sc-service = { version = "0.8", default-features = false, git = "https://github.com/paritytech/substrate" }
sc-telemetry = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
sc-authority-discovery = { version = "0.8",  git = "https://github.com/paritytech/substrate" }

# frame dependencies
pallet-indices = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
pallet-timestamp = { version = "2.0.0", default-features = false, git = "https://github.com/paritytech/substrate" }
pallet-contracts = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
frame-system = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
pallet-balances = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
pallet-transaction-payment = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
frame-support = { version = "2.0.0", default-features = false, git = "https://github.com/paritytech/substrate" }
pallet-im-online = { version = "2.0.0", default-features = false, git = "https://github.com/paritytech/substrate" }
pallet-authority-discovery = { version = "2.0.0",  git = "https://github.com/paritytech/substrate" }

# node-specific dependencies
node-runtime = { path = "../runtime" }
node-primitives = { path = "../primitives" }

# CLI-specific dependencies
tokio = { version = "0.2", features = ["rt-threaded"], optional = true }
sc-cli = { version = "0.8.0", optional = true, git = "https://github.com/paritytech/substrate" }
ctrlc = { version = "3.1.3", features = ["termination"], optional = true }
node-transaction-factory = { version = "0.8.0", git = "https://github.com/paritytech/substrate", optional = true }

# new added after removed local node-rpc, node-primitives
sc-executor = { version = "0.8", git = "https://github.com/paritytech/substrate" }
sp-api = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
pallet-contracts-rpc = { version = "0.8.0", git = "https://github.com/paritytech/substrate" }
pallet-transaction-payment-rpc = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
substrate-frame-rpc-system = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }

# WASM-specific dependencies
wasm-bindgen = { version = "0.2.57", optional = true }
wasm-bindgen-futures = { version = "0.4.7", optional = true }
browser-utils = { git = "https://github.com/paritytech/substrate", optional = true }

# for initialize producer schedule
brml-bridge-eos = { path = "../../../brml/bridge-eos", default-features = false }
eos-chain = { git = "https://github.com/bifrost-codes/rust-eos" }

[dev-dependencies]
sc-keystore = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
sc-consensus-babe = { version = "0.8", features = ["test-helpers"], git = "https://github.com/paritytech/substrate" }
sc-service-test = { version = "2.0.0", git = "https://github.com/paritytech/substrate" }
futures = "0.3.1"
tempfile = "3.1.0"

[build-dependencies]
sc-cli = { version = "0.8.0", package = "sc-cli", git = "https://github.com/paritytech/substrate" }
build-script-utils = { version = "2.0.0", package = "substrate-build-script-utils", git = "https://github.com/paritytech/substrate" }
structopt = "=0.3.7"
vergen = "3.0.4"

[features]
default = ["cli", "wasmtime"]
browser = [
	"browser-utils",
	"wasm-bindgen",
	"wasm-bindgen-futures",
]
cli = [
	"sc-cli",
	"node-transaction-factory",
	"tokio",
	"ctrlc",
	"sc-service/rocksdb",
	"sc-executor/wasmi-errno",
]
wasmtime = [
	"cli",
	"sc-executor/wasmtime",
	"sc-cli/wasmtime",
	"sc-service/wasmtime",
]
