[package]
name = "node-cli"
version = "0.2.2"
authors = ["Liebi Technologies <bifrost@liebi.com>"]
description = "Bifrost Parachain Node"
build = "build.rs"
edition = "2018"

[package.metadata.wasm-pack.profile.release]
# `wasm-opt` has some problems on linux, see
# https://github.com/rustwasm/wasm-pack/issues/781 etc.
wasm-opt = false

[[bin]]
name = "bifrost-node"
path = "bin/main.rs"
required-features = ["cli"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
# third-party dependencies
codec = { package = "parity-scale-codec", version = "1.3.0" }
serde = { version = "1.0.102", features = ["derive"] }
serde_json = "1.0.48"
futures = { version = "0.3.1", features = ["compat"] }
hex-literal = "0.2.1"
jsonrpc-core = "14.0.3"
log = "0.4.8"
rand = "0.7.2"
structopt = { version = "0.3.8", optional = true }
tracing = "0.1.10"

# primitives
sp-authority-discovery = { version = "2.0.0-alpha.5",  git = "https://github.com/paritytech/substrate" }
sp-consensus-babe = { version = "0.8.0-alpha.5", git = "https://github.com/paritytech/substrate" }
grandpa-primitives = { version = "2.0.0-alpha.5", package = "sp-finality-grandpa", git = "https://github.com/paritytech/substrate" }
sp-core = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sp-runtime = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sp-timestamp = { version = "2.0.0-alpha.5", default-features = false, git = "https://github.com/paritytech/substrate" }
sp-finality-tracker = { version = "2.0.0-alpha.5", default-features = false, git = "https://github.com/paritytech/substrate" }
sp-inherents = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sp-keyring = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sp-io = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sp-consensus = { version = "0.8.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sp-transaction-pool = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }

# client dependencies
sc-client-api = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sc-client = { version = "0.8.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sc-chain-spec = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sc-transaction-pool = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sc-network = { version = "0.8.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sc-consensus-babe = { version = "0.8.0-alpha.5", git = "https://github.com/paritytech/substrate" }
grandpa = { version = "0.8.0-alpha.5", package = "sc-finality-grandpa", git = "https://github.com/paritytech/substrate" }
sc-client-db = { version = "0.8.0-alpha.5", default-features = false, git = "https://github.com/paritytech/substrate" }
sc-offchain = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sc-rpc = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sc-basic-authorship = { version = "0.8.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sc-service = { version = "0.8.0-alpha.5", default-features = false, git = "https://github.com/paritytech/substrate" }
sc-tracing = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sc-telemetry = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sc-authority-discovery = { version = "0.8.0-alpha.5",  git = "https://github.com/paritytech/substrate" }

# frame dependencies
pallet-indices = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
pallet-timestamp = { version = "2.0.0-alpha.5", default-features = false, git = "https://github.com/paritytech/substrate" }
frame-system = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
pallet-balances = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
pallet-transaction-payment = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
frame-support = { version = "2.0.0-alpha.5", default-features = false, git = "https://github.com/paritytech/substrate" }
pallet-im-online = { version = "2.0.0-alpha.5", default-features = false, git = "https://github.com/paritytech/substrate" }
pallet-authority-discovery = { version = "2.0.0-alpha.5",  git = "https://github.com/paritytech/substrate" }
pallet-staking = { version = "2.0.0-alpha.5",  git = "https://github.com/paritytech/substrate" }

# node-specific dependencies
node-runtime = { path = "../runtime" }
node-primitives = { path = "../primitives" }

# CLI-specific dependencies
sc-cli = { version = "0.8.0-alpha.5", optional = true, git = "https://github.com/paritytech/substrate" }
node-transaction-factory = { version = "0.8.0-alpha.5", optional = true, git = "https://github.com/paritytech/substrate" }
node-inspect = { optional = true, path = "../inspect" }

# new added after removed local node-rpc, node-primitives
sc-executor = { version = "0.8.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sp-api = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
pallet-transaction-payment-rpc = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
substrate-frame-rpc-system = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sc-consensus-babe-rpc = { version = "0.8.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sc-keystore = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sc-consensus-epochs = { version = "0.8.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sp-blockchain = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }

# WASM-specific dependencies
wasm-bindgen = { version = "0.2.57", optional = true }
wasm-bindgen-futures = { version = "0.4.7", optional = true }
browser-utils = { package = "substrate-browser-utils", git = "https://github.com/paritytech/substrate", optional = true, version = "0.8.0-alpha.5"}

# for initialize producer schedule
brml-bridge-eos = { path = "../../../brml/bridge-eos", default-features = false }
eos-chain = { git = "https://github.com/bifrost-codes/rust-eos" }

# brml rpc crates
brml-assets-rpc = { path = "../../../brml/assets/rpc" }
brml-exchange-rpc = { path = "../../../brml/exchange/rpc" }

[target.'cfg(target_arch="x86_64")'.dependencies]
sc-cli = { version = "0.8.0-alpha.5", optional = true, git = "https://github.com/paritytech/substrate", features = [ "wasmtime" ] }
sc-service = { version = "0.8.0-alpha.5", default-features = false, git = "https://github.com/paritytech/substrate", features = [ "wasmtime" ] }

[dev-dependencies]
sc-keystore = { version = "2.0.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sc-consensus-babe = { version = "0.8.0-alpha.5", features = ["test-helpers"], git = "https://github.com/paritytech/substrate" }
sc-consensus-epochs = { version = "0.8.0-alpha.5", git = "https://github.com/paritytech/substrate" }
sc-service-test = { version = "2.0.0-dev", git = "https://github.com/paritytech/substrate" }
futures = "0.3.4"
tempfile = "3.1.0"
assert_cmd = "1.0"
nix = "0.17"
serde_json = "1.0"
regex = "1"
platforms = "0.2.1"

[build-dependencies]
structopt = { version = "0.3.8", optional = true }
node-transaction-factory = { version = "0.8.0-alpha.5", optional = true, git = "https://github.com/paritytech/substrate" }
node-inspect = { optional = true, path = "../inspect" }
substrate-build-script-utils = { version = "2.0.0-alpha.5", optional = true, git = "https://github.com/paritytech/substrate" }

[build-dependencies.sc-cli]
version = "0.8.0-alpha.5"
package = "sc-cli"
git = "https://github.com/paritytech/substrate"
optional = true

[build-dependencies.vergen]
version = "3.0.4"
optional = true

[features]
default = [ "cli" ]
browser = [
	"browser-utils",
	"wasm-bindgen",
	"wasm-bindgen-futures",
]
cli = [
	"node-inspect",
	"node-transaction-factory",
	"sc-cli",
	"sc-service/rocksdb",
	"structopt",
	"vergen",
	"sc-executor/wasmtime",
	"substrate-build-script-utils",
]
