[package]
name = "bifrost-runtime-common"
version = "0.8.0"
authors = ["Ron yang<yrong1997@gmail.com>"]
edition = "2021"

[dependencies]
# third-party dependencies
parity-scale-codec = { workspace = true, features = ["derive", "max-encoded-len"] }
log = { workspace = true }

# primitives
bifrost-primitives = { workspace = true }
sp-block-builder = { workspace = true }
sp-inherents = { workspace = true }
sp-offchain = { workspace = true }
sp-core = { workspace = true }
sp-std = { workspace = true }
sp-api = { workspace = true }
sp-runtime = { workspace = true }
sp-session = { workspace = true }
sp-transaction-pool = { workspace = true }
sp-version = { workspace = true }
sp-consensus-aura = { workspace = true }
sp-arithmetic = { workspace = true }
sp-io = { workspace = true }
num-traits = { workspace = true }
scale-info = { workspace = true }
serde = { workspace = true }

# frame dependencies
frame-executive = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
frame-system-rpc-runtime-api = { workspace = true }
pallet-transaction-payment = { workspace = true }
pallet-collective = { workspace = true }
pallet-membership = { workspace = true }
pallet-utility = { workspace = true }
pallet-scheduler  = { workspace = true }
pallet-treasury = { workspace = true }
pallet-democracy = { workspace = true }
pallet-multisig = { workspace = true }
pallet-traits = { workspace = true }

# Cumulus dependencies
cumulus-pallet-parachain-system = { workspace = true }
cumulus-primitives-core = { workspace = true }
cumulus-primitives-timestamp = { workspace = true }
cumulus-primitives-utility = { workspace = true }
cumulus-pallet-dmp-queue = { workspace = true }
cumulus-pallet-xcmp-queue = { workspace = true }
cumulus-pallet-xcm = { workspace = true }
parachain-info = { workspace = true }
pallet-collator-selection = { workspace = true }

# Polkadot dependencies
polkadot-parachain-primitives = { workspace = true }
xcm = { workspace = true }
xcm-builder = { workspace = true }
xcm-executor = { workspace = true }
pallet-xcm = { workspace = true }

# orml
orml-tokens = { workspace = true }
orml-traits = { workspace = true }
orml-xcm-support = { workspace = true }

zenlink-protocol = { workspace = true }
zenlink-protocol-runtime-api = { workspace = true }

bifrost-xcm-interface = { workspace = true }
bifrost-asset-registry = { workspace = true }

[features]
default = ["std"]
std = [
	"parity-scale-codec/std",
	"log/std",
	"frame-executive/std",
	"frame-support/std",
	"frame-system-rpc-runtime-api/std",
	"frame-system/std",
	"bifrost-primitives/std",
	"sp-block-builder/std",
	"sp-inherents/std",
	"sp-offchain/std",
	"sp-core/std",
	"sp-std/std",
	"sp-api/std",
	"sp-runtime/std",
	"sp-session/std",
	"sp-transaction-pool/std",
	"sp-arithmetic/std",
	"sp-io/std",
	"parachain-info/std",
	"pallet-collective/std",
	"pallet-democracy/std",
	"pallet-multisig/std",
	"pallet-membership/std",
	"pallet-traits/std",
	"pallet-utility/std",
	"pallet-treasury/std",
	"pallet-scheduler/std",
	"pallet-transaction-payment/std",
	"cumulus-pallet-dmp-queue/std",
	"cumulus-pallet-parachain-system/std",
	"cumulus-pallet-xcmp-queue/std",
	"cumulus-pallet-xcm/std",
	"cumulus-primitives-core/std",
	"cumulus-primitives-timestamp/std",
	"cumulus-primitives-utility/std",
	"xcm/std",
	"xcm-builder/std",
	"xcm-executor/std",
	"sp-consensus-aura/std",
	"orml-traits/std",
	"orml-tokens/std",
	"orml-xcm-support/std",
	"zenlink-protocol/std",
	"zenlink-protocol-runtime-api/std",
	"bifrost-xcm-interface/std",
	"bifrost-asset-registry/std",
]
