[package]
name = "bifrost-vsbond-auction"
version = "0.8.0"
authors = ["Allen Pocket <AllenPocketGamer@Gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive"] }
sp-std = { version = "3.0.0", default-features = false }
substrate-fixed = { git = "https://github.com/encointer/substrate-fixed", default-features = false }
frame-system = { version = "3.0.0", default-features = false }
frame-support = { version = "3.0.0", default-features = false }
node-primitives = { path = "../../node/primitives", default-features = false }
orml-traits = { version = "0.4.1-dev", default-features = false }

[dev-dependencies]
orml-tokens = { version = "0.4.1-dev" }
sp-io = { version = "3.0.0" }
sp-core = { version = "3.0.0" }
sp-runtime = { version = "3.0.0" }

[features]
default = ["std"]
std = [
    "codec/std",
    "sp-std/std",
    "substrate-fixed/std",
    "frame-system/std",
    "frame-support/std",
    "node-primitives/std",
    "orml-traits/std",
]