[package]
name = "vsbond-auction"
version = "0.8.0"
authors = ["Allen Pocket <AllenPocketGamer@Gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive"] }
frame-system = { version = "3.0.0", default-features = false }
frame-support = { version = "3.0.0", default-features = false }
orml-traits = { version = "0.4.1-dev", default-features = false }

[dev-dependencies]
orml-tokens = { version = "0.4.1-dev" }
sp-io = { version = "3.0.0" }
sp-core = { version = "3.0.0" }
sp-runtime = { version = "3.0.0" }
bifrost-assets = { path = "../assets" }
node-primitives = { path = "../../node/primitives" }

[features]
default = ["std"]
std = [
    "codec/std",
    "frame-system/std",
    "frame-support/std",
    "orml-traits/std",
]