[package]
name = "bifrost-salp"
version = "0.8.0"
authors = ["Edwin Wang <lark930@gmail.com>", "Ron yang<yrong1997@gmail.com>"]
edition = "2021"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = [
	"derive",
] }
scale-info = { version = "2.1.2", default-features = false, features = [
	"derive",
] }
log = { version = "0.4.17", default-features = false }
node-primitives = { path = "../../node/primitives", default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.28", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.28", default-features = false }
frame-benchmarking = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.28", default-features = false, optional = true }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.28", default-features = false }
sp-io = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.28", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.28", default-features = false }
sp-arithmetic = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.28", default-features = false }
orml-traits = { version = "0.4.1-dev", default-features = false }
xcm-interface = { path = "../xcm-interface", default-features = false }
zenlink-protocol = { version = "*", default-features = false }
cumulus-primitives-core = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.28", default-features = false }

[dev-dependencies]
pallet-multisig = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.28" }
pallet-sudo = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.28" }
pallet-collective = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.28" }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.28" }
orml-tokens = "0.4.1-dev"
orml-currencies = "0.4.1-dev"
pallet-balances = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.28" }
bifrost-asset-registry = { path = "../asset-registry", default-features = false }

[features]
default = ["std"]
std = [
	"codec/std",
	"scale-info/std",
	"log/std",
	"node-primitives/std",
	"frame-support/std",
	"frame-system/std",
	"sp-std/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-arithmetic/std",
	"orml-traits/std",
	"xcm-interface/std",
	"zenlink-protocol/std",
	"bifrost-asset-registry/std",
	"cumulus-primitives-core/std",
]

runtime-benchmarks = [
	"frame-benchmarking",
	"sp-runtime/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
]
