[package]
name = "bifrost-salp"
version = "0.8.0"
authors = ["Edwin Wang <lark930@gmail.com>"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive"] }
log = { version = "0.4.14", default-features = false }
node-primitives = { path = "../../node/primitives", default-features = false }
frame-support = { version = "3.0.0", default-features = false }
frame-system = { version = "3.0.0", default-features = false }
frame-benchmarking = {  version = "3.0.0", default-features = false, optional = true }
sp-std = { version = "3.0.0", default-features = false }
sp-runtime = { version = "3.0.0", default-features = false }
sp-arithmetic = { version = "3.0.0", default-features = false }
xcm = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.8", default-features = false }
xcm-support = { path = "../../xcm-support", default-features = false }
orml-traits = { version = "0.4.1-dev", default-features = false }
xcm-builder = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.8"  }
pallet-xcm = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.8" }
polkadot-parachain = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.8" }

[dev-dependencies]
xcm-builder = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.8"  }
pallet-xcm = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.8" }
pallet-multisig = { version = "3.0.0"}
smallvec = "1.6.1"
sp-io = "3.0.0"
sp-core = "3.0.0"
sp-runtime = "3.0.0"
orml-tokens = "0.4.1-dev"
orml-currencies = "0.4.1-dev"
pallet-balances = "3.0.0"
bifrost-bancor = { path = "../../pallets/bancor" }

[features]
default = ["std"]
std = [
	"codec/std",
	"log/std",
	"node-primitives/std",
	"frame-support/std",
	"frame-system/std",
	"sp-std/std",
	"sp-runtime/std",
	"sp-arithmetic/std",
	"orml-traits/std",
	"xcm/std",
	"xcm-support/std",
	"polkadot-parachain/std",
]

runtime-benchmarks = [
	"frame-benchmarking",
	"sp-runtime/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"xcm-builder/runtime-benchmarks",
	"pallet-xcm/runtime-benchmarks",
]
