[package]
name = "bifrost-liquidity-mining-rpc-api"
version = "0.8.0"
authors = ["Allen Pocket <AllenPocketGamer@Gmail.com>"]
edition = "2021"

[dependencies]
serde = { version = "1.0.140", features = ["derive"] }
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
jsonrpsee = { version = "0.16.2", features = ["server", "macros"] }
sp-api = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.1.0" }
sp-runtime = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.1.0" }
sp-blockchain = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.1.0" }
sp-core = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.1.0" }
sp-rpc = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.1.0" }
bifrost-primitives = { path = "../../../primitives", default-features = false }
bifrost-liquidity-mining-rpc-runtime-api = { path = "./runtime-api" }
