[package]
name = "bifrost-liquidity-mining-rpc-api"
version = "0.8.0"
authors = ["Allen Pocket <AllenPocketGamer@Gmail.com>"]
edition = "2021"

[dependencies]
serde = { version = "1.0.124", features = ["derive"] }
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
jsonrpsee = { version = "0.14.0", features = ["server", "macros"] }
sp-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.26" }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.26" }
sp-blockchain = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.26" }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.26" }
sp-rpc = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.26" }
node-primitives = { path = "../../../node/primitives", default-features = false }
bifrost-liquidity-mining-rpc-runtime-api = { path = "./runtime-api" }
