[package]
name = "bifrost-system-staking"
version = "4.0.0-dev"
description = "System staking pallet"
authors = ["Akagi201 <akagi201@gmail.com>"]
homepage = "https://github.com/bifrost-finance/bifrost"
edition = "2021"
publish = false
repository = "https://github.com/bifrost-finance/bifrost"
readme = 'README.md'

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
log = "0.4.17"
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = [
	"derive",
] }
scale-info = { version = "2.0.1", default-features = false, features = ["derive"] }
frame-support = { default-features = false, version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.28"}
frame-system = { default-features = false, version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.28" }
frame-benchmarking = { default-features = false, version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.28", optional = true }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.28", default-features = false }
sp-arithmetic = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.28", default-features = false }
orml-traits = { version = "0.4.1-dev", default-features = false }
sp-runtime = { default-features = false, version = "6.0.0", git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.28" }
node-primitives = { path = "../../node/primitives", default-features = false }

[dev-dependencies]
sp-core = { default-features = false, version = "6.0.0", git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.28" }
sp-io = { default-features = false, version = "6.0.0", git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.28" }
pallet-balances = { default-features = false, version = "4.0.0-dev", git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.28" }
orml-currencies = "0.4.1-dev"
orml-tokens = "0.4.1-dev"
hex-literal = "0.3.4"
bifrost-vtoken-minting = { path = "../../pallets/vtoken-minting", default-features = false }
bifrost-slp = { path = "../../pallets/slp", default-features = false }
bifrost-farming = { path = "../../pallets/farming", default-features = false }
bifrost-asset-registry = { path = "../../pallets/asset-registry" }
cumulus-primitives-core = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.28", default-features = false }
xcm = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.28", default-features = false }

[features]
default = ["std"]
std = [
	"codec/std",
	"scale-info/std",
	"frame-support/std",
	"frame-system/std",
	"frame-benchmarking/std",
	"sp-std/std",
	"sp-runtime/std",
	"node-primitives/std",
	"orml-traits/std",
	"sp-arithmetic/std",
	"bifrost-slp/std",
	"bifrost-vtoken-minting/std",
	"bifrost-farming/std",
	"xcm/std",
	"bifrost-asset-registry/std",
]

runtime-benchmarks = ["frame-benchmarking/runtime-benchmarks"]

try-runtime = ["frame-support/try-runtime"]
