[package]
name = "liquidity-mining"
version = "0.8.0"
authors = ["Allen Pocket <AllenPocketGamer@Gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive"] }
sp-std = { version = "3.0.0", default-features = false }
frame-system = { version = "3.0.0", default-features = false }
frame-support = { version = "3.0.0", default-features = false }
node-primitives = { path = "../../node/primitives", default-features = false }

[features]
default = ["std"]
std = [
    "codec/std",
    "sp-std/std",
    "frame-system/std",
    "frame-support/std",
    "node-primitives/std",
]