[package]
name = "bifrost-liquidity-mining"
version = "0.8.0"
authors = ["Allen Pocket <AllenPocketGamer@Gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive"] }
substrate-fixed = { git = "https://github.com/encointer/substrate-fixed", default-features = false }
frame-system = { version = "3.0.0", default-features = false }
frame-support = { version = "3.0.0", default-features = false }
node-primitives = { path = "../../node/primitives", default-features = false }
orml-traits = { version = "0.4.1-dev", default-features = false }

[dev-dependencies]
sp-core = "3.0.0"
pallet-balances = "3.0.0"
pallet-collective = "3.0.0"
orml-tokens = "0.4.1-dev"
orml-currencies = "0.4.1-dev"

[features]
default = ["std"]
std = [
    "codec/std",
    "substrate-fixed/std",
    "frame-system/std",
    "frame-support/std",
    "node-primitives/std",
    "orml-traits/std",
]