[package]
name = "bifrost-vtoken-mint-rpc-runtime-api"
version = "0.8.0"
authors = ["Jamie Deng <djptux@gmail.com>"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive"] }
sp-api = { version = "3.0.0", default-features = false }

[features]
default = ["std"]
std = [
	"codec/std",
	"sp-api/std",
]
