[package]
name = "bifrost-flexible-fee-rpc"
version = "0.8.0"
authors = ["Herry Ho <herry.heyi@gmail.com>"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "2.0.0" }
jsonrpc-core = "15.1.0"
jsonrpc-core-client = "15.1.0"
jsonrpc-derive = "15.1.0"
sp-api = "3.0.0"
sp-runtime = "3.0.0"
sp-blockchain = "3.0.0"
sp-core = "3.0.0"
sp-rpc = "3.0.0"
pallet-transaction-payment-rpc-runtime-api = "3.0.0"
bifrost-flexible-fee-rpc-runtime-api = { path = "./runtime-api" }
node-primitives = { path = "../../../node/primitives", default-features = false }

[features]
default = ["std"]
std = [
    "codec/std",
    "sp-api/std",
    "sp-runtime/std",
    "sp-core/std",
    "pallet-transaction-payment-rpc-runtime-api/std",
    "bifrost-flexible-fee-rpc-runtime-api/std",
    "node-primitives/std",
]