[package]
name = "bifrost-runtime"
version = "0.8.0"
authors = ["Edwin Wang <lark930@gmail.com>"]
edition = "2018"
build = "build.rs"

[dependencies]
# third-party dependencies
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive", "max-encoded-len"] }

# primitives
node-primitives = { default-features = false, path = "../../node/primitives" }
sp-block-builder = { default-features = false, version = "3.0.0"}
sp-inherents = { version = "3.0.0", default-features = false }
sp-offchain = { version = "3.0.0", default-features = false }
sp-core = { version = "3.0.0", default-features = false }
sp-std = { version = "3.0.0", default-features = false }
sp-api = { version = "3.0.0", default-features = false }
sp-runtime = { version = "3.0.0", default-features = false }
sp-session = { version = "3.0.0", default-features = false }
sp-transaction-pool = { version = "3.0.0", default-features = false }
sp-version = { version = "3.0.0", default-features = false }
sp-consensus-aura = { version = "0.9.0",  default-features = false }

# frame dependencies
frame-benchmarking = { version = "3.0.0", default-features = false, optional = true }
frame-executive = { version = "3.0.0", default-features = false }
frame-support = { version = "3.0.0", default-features = false }
frame-system = { version = "3.0.0", default-features = false }
frame-system-rpc-runtime-api = { version = "3.0.0", default-features = false }
pallet-authorship = { version = "3.0.0", default-features = false }
pallet-balances = { version = "3.0.0", default-features = false }
pallet-collective = { version = "3.0.0", default-features = false }
pallet-democracy = { version = "3.0.0", default-features = false }
pallet-indices = { version = "3.0.0", default-features = false }
pallet-randomness-collective-flip = { version = "3.0.0", default-features = false }
pallet-session = { version = "3.0.0", default-features = false }
pallet-sudo = { version = "3.0.0", default-features = false }
pallet-timestamp = { version = "3.0.0", default-features = false }
pallet-transaction-payment = { version = "3.0.0", default-features = false }
pallet-transaction-payment-rpc-runtime-api = { version = "3.0.0", default-features = false }
pallet-utility = { version = "3.0.0", default-features = false }
pallet-scheduler = { version = "3.0.0", default-features = false }
pallet-aura = { version = "3.0.0", default-features = false }

# Cumulus dependencies
cumulus-pallet-aura-ext = { git = "https://github.com/yrong/cumulus", default-features = false, branch = "polkadot-v0.9.8-without-compact-proof" }
cumulus-pallet-parachain-system = { git = "https://github.com/yrong/cumulus", default-features = false, branch = "polkadot-v0.9.8-without-compact-proof" }
cumulus-primitives-core = { git = "https://github.com/yrong/cumulus", default-features = false, branch = "polkadot-v0.9.8-without-compact-proof" }
cumulus-primitives-timestamp = { git = "https://github.com/yrong/cumulus", default-features = false, branch = "polkadot-v0.9.8-without-compact-proof" }
cumulus-primitives-utility = { git = "https://github.com/yrong/cumulus", default-features = false, branch = "polkadot-v0.9.8-without-compact-proof" }
cumulus-pallet-dmp-queue = { git = "https://github.com/yrong/cumulus", default-features = false, branch = "polkadot-v0.9.8-without-compact-proof" }
cumulus-pallet-xcmp-queue = { git = "https://github.com/yrong/cumulus", default-features = false, branch = "polkadot-v0.9.8-without-compact-proof" }
cumulus-pallet-xcm = { git = "https://github.com/yrong/cumulus", default-features = false, branch = "polkadot-v0.9.8-without-compact-proof" }
parachain-info = { git = "https://github.com/yrong/cumulus", default-features = false, branch = "polkadot-v0.9.8-without-compact-proof" }
pallet-collator-selection = { git = "https://github.com/yrong/cumulus", default-features = false, branch = "polkadot-v0.9.8-without-compact-proof" }

# Polkadot dependencies
polkadot-parachain = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.8" }
xcm = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.8" }
xcm-builder = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.8" }
xcm-executor = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.8" }
pallet-xcm = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.8" }

# Bifrost
pallet-vesting = { package = "bifrost-vesting", path = "../../pallets/vesting", default-features = false }

[build-dependencies]
substrate-wasm-builder = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.8" }

[features]
default = ["std"]
with-tracing = [ "frame-executive/with-tracing" ]
std = [
	"codec/std",
	"frame-executive/std",
	"frame-support/std",
	"frame-system-rpc-runtime-api/std",
	"frame-system/std",
	"node-primitives/std",
	"pallet-balances/std",
	"pallet-collective/std",
	"pallet-democracy/std",
	"pallet-indices/std",
	"pallet-randomness-collective-flip/std",
	"pallet-sudo/std",
	"pallet-timestamp/std",
	"pallet-transaction-payment-rpc-runtime-api/std",
	"pallet-transaction-payment/std",
	"sp-consensus-aura/std",
	"sp-block-builder/std",
	"sp-inherents/std",
	"sp-offchain/std",
	"sp-core/std",
	"sp-std/std",
	"sp-api/std",
	"sp-runtime/std",
	"sp-session/std",
	"sp-transaction-pool/std",
	"parachain-info/std",
	"cumulus-pallet-aura-ext/std",
	"cumulus-pallet-dmp-queue/std",
	"cumulus-pallet-parachain-system/std",
	"cumulus-pallet-xcmp-queue/std",
	"cumulus-pallet-xcm/std",
	"cumulus-primitives-core/std",
	"cumulus-primitives-timestamp/std",
	"cumulus-primitives-utility/std",
	"xcm/std",
	"xcm-builder/std",
	"xcm-executor/std",
	"pallet-aura/std",
	"pallet-collator-selection/std",
	"pallet-session/std",
	"pallet-vesting/std",
]

runtime-benchmarks = [
	"frame-benchmarking",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-collective/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"xcm-builder/runtime-benchmarks",
	"pallet-xcm/runtime-benchmarks",
]
