name: chw-build

on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - chw

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Cache cargo registry and index
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo
      - name: Update OS
        run: sudo apt-get update -qq
      - name: Install dependencies
        run: sudo apt install -y cmake pkg-config libssl-dev git gcc build-essential clang libclang-dev
      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          target: wasm32-unknown-unknown
          default: true
      - name: Build bifrost
        run: cargo build --locked
      - name: Run tests
        run: cargo test --all
