name: docker-image-build

on:
  tags:
    - '*'

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: bifrostnetwork/bifrost
          tag_with_ref: true
          push: ${{ startsWith(github.ref, 'refs/tags/') }}
