name: docker-image-build

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      tag:
        description: 'bifrost image tag'
        required: true

jobs:
  buildx:

    runs-on: self-hosted

    steps:
      - run: |
          echo "Tag: ${{ github.event.inputs.tag }}"
          echo "TAG=${{ github.event.inputs.tag }}" >> "$GITHUB_ENV"
      - name: Set Tag env
        if: ${{ github.event.release.tag_name }}
        run: |
          echo "TAG=${{ github.event.release.tag_name }}" >> "$GITHUB_ENV"
      - name: Check to latest commit
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx
      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.5.2
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            bifrostnetwork/bifrost:latest
            bifrostnetwork/bifrost:${{ env.TAG }}
          build-args: |
            BIFROST_VERSION=${{ env.TAG }}
            VCS_REF=${{ github.ref }}
            BUILD_DATE=${{ github.event.release.published_at }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new
          ssh: default
      - uses: 8398a7/action-slack@v3
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          status: ${{ job.status }}
          fields: repo,author,eventName,workflow,ref,commit
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_INCOMING_WEBHOOK_URL }}
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache 
