name: ci-build

on:
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: self-hosted
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
#      - name: Add SSH key
#        env:
#          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
#        run: |
#          [ ! -d "/home/ubuntu/runner/.ssh" ] && mkdir -p /home/ubuntu/runner/.ssh
#          echo "${{ secrets.SSH_PRIVATE_KEY }}" > /home/ubuntu/runner/.ssh/github_actions
#          chmod 600 /home/ubuntu/runner/.ssh/github_actions
#          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
#          ssh-add /home/ubuntu/runner/.ssh/github_actions
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Cache cargo registry and index
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo
      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          target: wasm32-unknown-unknown
          default: true
      - name: Check
        run: cargo check --features with-bifrost-runtime
      - name: Run tests
        run: cargo test --features with-bifrost-runtime
      - uses: 8398a7/action-slack@v3
        if: always() && (github.event_name == 'pull_request' && github.event.pull_request.draft == false)
        with:
          status: ${{ job.status }}
          fields: repo,author,eventName,workflow,ref,commit
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_PULLREQUEST_WEBHOOK_URL }}
