name: ci-build

on:
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Check out zenlink
        uses: actions/checkout@v2
        with:
          repository: bifrost-finance/Zenlink-DEX-Module
          token: ${{ secrets.ZENLINK_TOKEN }}
          path: '../Zenlink-DEX-Module'
      - name: Cache cargo registry and index
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo
      - name: Update OS
        run: sudo apt-get update -qq
      - name: Install dependencies
        run: sudo apt install -y cmake pkg-config libssl-dev git gcc build-essential clang libclang-dev
      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          target: wasm32-unknown-unknown
          default: true
      - name: Check
        run: cargo check --features with-bifrost-runtime
      - name: Run tests
        run: cargo test --features with-bifrost-runtime
      - uses: 8398a7/action-slack@v3
        if: always() && (github.event_name == 'pull_request' && github.event.pull_request.draft == false)
        with:
          status: ${{ job.status }}
          fields: repo,author,eventName,workflow,ref,commit
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_PULLREQUEST_WEBHOOK_URL }}
