name: ci-build

on:
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Check to latest commit
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.5.2
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          target: wasm32-unknown-unknown
          default: true
      - name: Check All
        run: make check-all
      - name: Test bifrost
        run: make test-bifrost
      - name: Inform buddies online
        uses: 8398a7/action-slack@v3
        if: always() && (github.event_name == 'pull_request' && github.event.pull_request.draft == false)
        with:
          status: ${{ job.status }}
          fields: repo,author,eventName,workflow,ref,commit
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_PULLREQUEST_WEBHOOK_URL }}